/* center body: */
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
/* Taken from https://stackoverflow.com/a/14776179/17870055 */

body {
    background: #121212;
    color: white;
}

video:focus {
    /* Remove the outline that appears when selected: */
    outline: none;
}

::cue {
    /* Subs */
    color: yellow;
    opacity: 1;
    text-shadow: #000 3px 4px 3px;
    background: #00000000;
}

.overlay {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;  /* prevent interaction */
    background: rgba(255, 255, 255, 0);
}

.overlay.statusmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    font-size: 50;
}
